<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="friend.properties"/>

    <context:component-scan base-package="cn.mhonor.mixed.entity"/>

    <!--user手动注册，friend由注解注册并自动注入-->
    <bean id="user" class="cn.mhonor.mixed.entity.User" autowire="byType">
        <property name="name" value="${name}"/>
        <property name="age" value="${age}"/>
    </bean>
</beans>